<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
    <head>
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.css" />
        <script src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js"></script>
    </head>
    <body>
        <div data-role="page">
            <div data-role="header">
                <h3>${recipe.name}</h3>
            </div>
            <div data-role="content">
                <h2>${recipe.name}</h2>
                
                <div data-role="collapsible" data-collapsed="true">
                    <h3>Details</h3>
                    <ul data-role="listview" data-inset="true">
                        <li>style: <py:choose test="">
                            <py:when test="recipe.style">${recipe.style.name} (${recipe.style.bjcp_code})</py:when>
                            <py:otherwise><em>undefined</em></py:otherwise>
                        </py:choose>
                        </li>
                        <li>batch size: ${recipe.batch_size} ${recipe.get_batch_size_units_display()}</li>
                    </ul>
                </div>
                
                <h3>grains</h3>
                <ul data-role="listview" data-inset="true">
                    <li py:for="grain in recipe.recipegrain_set.all()">
                        <h3>${grain.grain.name}</h3>
                        <p class="ul-li-aside">${grain.amount_value} ${grain.get_amount_units_display()}</p>
                    </li>
                </ul>

                <h3>hops</h3>
                <ul data-role="listview" data-inset="true">
                    <li py:for="hop in recipe.recipehop_set.all()">
                        <h3>${hop.hop.name}</h3>
                        <p class="ul-li-aside">${hop.amount_value} ${hop.get_amount_units_display()}</p>
                        <p>
                            <py:choose test="">
                                <py:when test="hop.usage_type == 'boil'">
                                    ${hop.boil_time} minutes
                                </py:when>
                                <py:otherwise>
                                    ${hop.get_usage_type_display()}
                                </py:otherwise>
                            </py:choose>
                        </p>
                    </li>
                </ul>

            </div>
        </div>
    </body>
</html>