<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
    <head>
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.css" />
        <script src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js"></script>
    </head>
    <body>
        <div data-role="page">
            <div data-role="header">
                <h3>${uri_user.username}</h3>
            </div>
            <div data-role="content">
                <ul data-role="listview">
                    <li><a href="#brews">Brews</a></li>
                    <li><a href="#recipes">Recipes</a></li>
                </ul>
            </div>
        </div>

        <div data-role="page" id="brews">
            <div data-role="header">
                <h3>brews</h3>
            </div>
            <div data-role="content">
                <ul data-role="listview">
                    <li py:for="brew in brews">
                        <a href="/m/user/${brew.brewer.username}/brew/${brew.id}" rel="external">${brew.recipe.name}</a>
                    </li>
                </ul>
            </div>
        </div>

        <div data-role="page" id="recipes">
            <div data-role="header">
                <h3>recipes</h3>
            </div>
            <div data-role="content">
                <ul data-role="listview">
                    <li py:for="recipe in recipes">
                        <a href="/m/recipe/${recipe.id}" rel="external">${recipe.name}</a>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>