BODY
{
  background-color: white;
  color: black;
  padding-bottom: 5em;
  /* for bootstrap fixed header: */
  padding-top: 70px;
  padding-left: 1em;
}

A, A.visited {
  color: green;
}

TABLE.form
{
  border: none;
}

UL.errorlist {
  color: red;
}

UL.errorlist + INPUT {
  border: inset thin red;
}

.muted,
.muted A {
  color: rgb(128, 128, 128);
}

.datetime {
    white-space: nowrap;
}

.feed-link A {
    text-decoration: none;
    color: inherit;
}

.feed-link A {
    padding-right: 19px;
    background: transparent url('./feed-icon-14x14.png') no-repeat scroll right center;
}

.label {
  font-weight: bold;
  color: green;
  padding-left: 0;
}

.help-text {
  color: rgb(180, 180, 180);
  font-size: small;
}

.errors {
  color: red;
  font-size: small;
}

.brew-name {
    font-size: large;
}

.brew-style {
    font-size: small;
}

.bj-ui-col-headers {
    color: green;
    font-size: large;
    font-weight: bold;
}

BUTTON, INPUT[type=submit], INPUT[type=reset] {
    color: green !important;
}

.scoresheet P {
    font-size: 12px;
    font-weight: normal;
}