<div py:strip="True"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:py="http://genshi.edgewall.org/"
     xmlns:xi="http://www.w3.org/2001/XInclude">

  <div id="hd" class="grid_16">
      <div width="100%" align="right">
          <nobr>
              <py:choose test="">
                  <py:when test="request.user.is_authenticated()">
                      <a href="/user/${request.user.username}/">${request.user.username}<py:choose test=""><py:when test="request.user.username.endswith('s')">'</py:when><py:otherwise>'s</py:otherwise></py:choose>&nbsp;journal</a>
                      | <a href="/user/${request.user.username}/profile/">profile</a>
                      | <a href="/">brew-journal</a>
                  </py:when>
                  <py:otherwise>
                      <a href="/">sign in/create account</a>
                  </py:otherwise>
              </py:choose>

              | <a href="/recipe">recipes</a>
              | <a href="/calc/mash-sparge">mash water calc</a>

              <py:if test="request.user.is_authenticated()">
                  | <a href="/logout">sign out</a>
              </py:if>
          </nobr>
      </div>
      
      <div style="margin-top: -1em">
          <a class="logotext" py:attrs="{'href': ['/', '/user/%s/' % (request.user.username)][request.user.is_authenticated()]}">brew-journal</a>
      </div>
  </div>
  <div class="clear"></div>
</div>
