<div py:strip="True"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:py="http://genshi.edgewall.org/"
     xmlns:xi="http://www.w3.org/2001/XInclude">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" py:attrs="{'href': ['/', '/user/%s/' % (request.user.username)][request.user.is_authenticated()]}">brew-journal</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <py:choose test="">
                        <py:when test="request.user.is_authenticated()">
                            <li><a href="/user/${request.user.username}/">${request.user.username}<py:choose test=""><py:when test="request.user.username.endswith('s')">'</py:when><py:otherwise>'s</py:otherwise></py:choose>&nbsp;journal</a></li>
                            <li><a href="/user/${request.user.username}/profile/">profile</a></li>
                            <li><a href="/">brew-journal</a></li>
                        </py:when>
                        <py:otherwise>
                            <li><a href="/">sign in/create account</a></li>
                        </py:otherwise>
                    </py:choose>
                    <li><a href="/recipe">recipes</a></li>
                    <li><a href="/calc/mash-sparge">mash water calc</a></li>
                    <li><a href="/hops">hops</a></li>
                    <li py:if="request.user.is_authenticated()"><a href="/logout">sign out</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
