<div py:strip="True"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:py="http://genshi.edgewall.org/"
     xmlns:xi="http://www.w3.org/2001/XInclude">

  <div id="hd">
      <div width="100%" align="right">
          <nobr>
              <py:if test="request.user.is_authenticated()">
                  ${request.user.username}
                  | <a href="/user/${request.user.username}/">my journal</a>
                  | <a href="/">brew-journal</a>
                  | <a href="/calc/mash-sparge">mash water calc</a>
                  | <a href="/user/${request.user.username}/profile/">profile</a>
                  | <a href="/logout">sign out</a>
              </py:if>
              <py:if test="not request.user.is_authenticated()">
                  <a href="/">sign in/create account</a>
              </py:if>
          </nobr>
      </div>
      
      <div style="margin-top: -1em">
          <a class="logotext" py:attrs="{'href': ['/', '/user/%s/' % (request.user.username)][request.user.is_authenticated()]}">brew-journal</a>
      </div>
  </div>
</div>
