<head py:strip="True" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
    <link rel="stylesheet" href="/static/style.css"/>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/fonts/fonts-min.css"/>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/grids/grids-min.css"/>
    <script type="text/javascript" src="/static/site.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript">
        // fallback if google can't serve up jquery
        if (typeof jQuery == 'undefined') {
            document.write(unescape("%3Cscript type='text/javascript' src='/static/jquery-1.4.2.min.js'%E3%3C/script%3E"));
        }
    </script>
</head>
