<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="True">
  <?python
    import urllib
  ?>
  <py:def function="recipe_url(recipe)">/recipe/${recipe.id}/${urllib.quote(recipe.name.encode('utf-8'))}</py:def>

  <a py:def="recipe_a(recipe)" href="${recipe_url(recipe)}">${recipe.name or "(unknown)"}</a>

  <py:def function="brew_url(brew)">/user/${brew.brewer.username}/brew/${brew.id}/</py:def>
  <a py:def="brew_a(brew)" href="${brew_url(brew)}">${brew.recipe.name or "(unknown)"}</a>

  <py:def function="action(text)">${text}&nbsp;»</py:def>
  <py:def function="back_action(text)">«&nbsp;${text}</py:def>

  <div py:def="ifauth_recipe_actions(request, recipe)"
       py:if="request.user.is_authenticated()">
      <a href="/recipe/new/?clone_from_recipe_id=${recipe.id}">clone »</a>
      | <a href="/user/${request.user.username}/star/?recipe_id=${recipe.id}">star »</a>
      | <a href="/user/${request.user.username}/brew/new/?recipe_id=${recipe.id}">brew »</a>
  </div>

  <label py:def="field(*fields)" class="stylin">
      <div class="label">${fields[0].label}</div>
      <div py:if="fields[0].help_text" class="help-text">${fields[0].help_text}</div>
      <div py:for="field in fields"
           py:if="field.errors" class="errors">${field.errors}</div>
      <div class="label-contents">
          <py:for each="field in fields">
              ${std.Markup(field)}
          </py:for>
      </div>
  </label>

  <label py:def="boolean_field(field)" class="stylin">
      ${std.Markup(field)}
      &nbsp;<span class="label">${std.Markup(field.label)}</span>
      <span py:if="field.help_text" class="help-text">
          &nbsp; ${std.Markup(field.help_text)}
      </span>
  </label>

</html>