<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="True">
  <?python
    import urllib
  ?>
  <py:def function="recipe_url(recipe)">/recipe/${recipe.id}/${urllib.quote(recipe.name.encode('utf-8'))}</py:def>

  <a py:def="recipe_a(recipe)" href="${recipe_url(recipe)}">${recipe.name or "(unknown)"}</a>

  <py:def function="brew_url(brew)">/user/${brew.brewer.username}/brew/${brew.id}/</py:def>
  <a py:def="brew_a(brew)" href="${brew_url(brew)}">${brew.recipe.name or "(unknown)"}</a>

  <py:def function="action(text)">${text}&nbsp;»</py:def>
  <py:def function="back_action(text)">«&nbsp;${text}</py:def>

</html>