<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
    <xi:include href="../_incl/taglib.html"/>
  <head>
    <title>hops | brew-journal</title>
    <xi:include href="../_incl/head.html"/>
  </head>
<body>
    <div class="container_16">
        <xi:include href="../_incl/body-top-bar.html"/>
        <div class="clear"></div>
        <div id="bd">

            <table border="1" cellpadding="5">
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th colspan="2" align="center">AA%</th>
                    <th colspan="2" align="center">BA%</th>
                    <th colspan="2" align="center">C%</th>
                    <th></th>
                </tr>
                <tr>
                    <th width="10%">hop</th>
                    <th width="5%">region</th>
                    <th width="5%">type</th>
                    <th width="2.5%">low</th>
                    <th width="2.5%">high</th>
                    <th width="2.5%">low</th>
                    <th width="2.5%">high</th>
                    <th width="2.5%">low</th>
                    <th width="2.5%">high</th>
                    <th width="35%">notes</th>
                </tr>

                <tr py:for="hop in all_hops">
                    <td>${hop.name}</td>
                    <td>${hop.region}</td>
                    <td>${hop.type}</td>
                    <td>${hop.alpha_acid_low}</td><td>${hop.alpha_acid_high}</td>
                    <td>${hop.beta_acid_low}</td><td>${hop.beta_acid_high}</td>
                    <td>${hop.cohumulone_pctg_low}</td><td>${hop.cohumulone_pctg_high}</td>
                    <td>${hop.notes}</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
