<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../_incl/taglib.html"/>
<head>
  <title>${user.username} | brew-journal</title>
  <xi:include href="../_incl/head.html"/>
</head>
<body>
    <xi:include href="../_incl/body-top-bar.html"/>

    <div py:if="efficiency_tracker and efficiency_tracker.has_data()" class="panel panel-default">
        <div class="panel-heading"><h2 class="panel-title">efficiency tracker</h2></div>
        <div class="panel-body">
            <img width="400" height="100" src="${efficiency_tracker.url()}"/>
        </div>
    </div>

    <!--
    <div py:if="shopping_list.shopping_to_do() or future_steps or future_brews" class="col-md-6">
        <h1>upcoming steps</h1>
        <py:if test="future_steps or future_brews">
            <div id="by_calendar_brew">
                <div>
                    <a href="#" class="muted" onClick="$('#by_calendar_brew').children().toggle(); return false;">view by brew…</a>
                    <ul>
                        <li py:for="step in future_steps">
                            <a href="${step.get_absolute_url()}">${step.get_type_display()}</a>
                            for brew ${brew_a(step.brew)}
                        on ${std.fmt.date.best(step.date, user)}</li>
                    </ul>
                </div>
                <div style="display:none">
                    <a href="#" class="muted" onClick="$('#by_calendar_brew').children().toggle(); return false;">view by time…</a>
                    <ul>
                        <li py:for="brew in future_brews">brew ${brew_a(brew)}
                        <ul>
                            <li py:for="step in brew.future_steps()">
                                ${step.get_type_display()} on ${std.fmt.date.best(step.date)}
                            </li>
                        </ul>
                        </li>
                    </ul>
                </div>
            </div>            
        </py:if>
        <py:if test="shopping_list.shopping_to_do()">
            <a href="shopping/">shopping list</a><br />
        </py:if>
    </div>
    -->

    <div class="panel panel-default">
        <div class="panel-heading"><h2 class="panel-title">${user.username} current brews
            <div py:if="std.auth_user_is_user(request, user)" class="btn-group">
                <button type="button" class="btn btn-default btn-sm" ><a href="/user/${user.username}/brew/new"><span class="glyphicon glyphicon-plus"/>&nbsp;new brew</a></button>
            </div>
        </h2>
    </div>

        <div class="panel-body">

            <xi:include href="./_util.html"/>
            <div py:if="not brews" class="row">
                <div class="col-md-12"><em>no brews</em></div>
            </div>
            <div py:for="brew in brews" class="row">
                <div class="col-md-6">
                    <div class="btn-group btn-group-xs" py:if="std.auth_user_is_user(request,user) and len(brew.next_steps().possible) > 0">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li py:for="next in brew.next_steps().possible">${step(brew, next)}</li>
                        </ul>
                    </div>
                    ${brew_name_and_style(brew)}
                </div>
                <div class="col-md-3 col-md-offset-0 col-xs-offset-1">${std.fmt.date.best(brew.last_update_date, user)}</div>
                <div class="col-md-3 col-md-offset-0 col-xs-offset-1">${brew.get_last_state_display()}</div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h2 class="panel-title">recipes
            <div py:if="std.auth_user_is_user(request, user)" class="btn-group">
                <button type="button" class="btn btn-default btn-sm"><a href="/recipe/new/"><span class="glyphicon glyphicon-plus"/>&nbsp;new recipe</a></button>
            </div></h2>
        </div>

        <div class="panel-body">

            <div py:if="not authored_recipes" class="row">
                <div class="col-md-12">
                    <em>no recipes</em>
                </div>
            </div>
            <div py:for="recipe in authored_recipes" class="row">
                <div class="col-md-6">
                    <div py:if="request.user.is_authenticated()" class="btn-group btn-group-xs">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/recipe/new/?clone_from_recipe_id=${recipe.id}">clone</a></li>
                            <li><a href="/user/${request.user.username}/brew/new/?recipe_id=${recipe.id}">brew</a></li>
                        </ul>
                    </div>
                    <span class="recipe-name">${recipe_a(recipe)}</span>
                    <span class="recipe-style">(<py:choose test="">
                    <py:when test="recipe.style">${recipe.style.name}</py:when>
                    <py:otherwise><em>unknown style</em></py:otherwise>
                    </py:choose>, ${recipe.get_type_display()})</span>
                </div>
                <div class="col-md-4 col-md-offset-0 col-xs-offset-1">${std.fmt.date.ymd(recipe.insert_date, user)}</div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h2 class="panel-title">historical brews</h2></div>
        <div class="panel-body">
            <div class="col-md-12"><a href="./history">show historical brews</a></div>
        </div>
    </div>

</body>
</html>
