<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../../_incl/taglib.html"/>

<head>
  <title>brew of "${brew.recipe.name}" | brew-journal</title>
  <xi:include href="../../_incl/head.html"/>
  <script type="application/javascript">
    $(document).ready(function(){
      $('#first-focused').focus();
    });
  </script>
</head>
<body>
    <xi:include href="../../_incl/body-top-bar.html"/>

    <h2 py:if="brew.recipe">brew of "${brew.recipe.name}"</h2>
    <h2 py:if="not brew.recipe">un-named brew</h2>

    <div id="details" class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">details
            <py:if test="std.auth_user_is_user(request, user)">
                <button type="button" class="btn btn-default btn-sm bj-js-details-edit bj-js-toggle-next"><span class="glyphicon glyphicon-edit"/>&nbsp;edit</button>
            </py:if></h3>
        </div>

        <div class="panel-body bj-js-toggle">
            <div class="bj-js-toggle-item">

                <div class="row">
                    <label class="col-md-3" py:if="brew.brew_date">
                        <div class="label">brewed on</div>
                        <div class="label-content">${std.fmt.date.ymdhm(brew.brew_date, user)}</div>
                    </label>
                    <label class="col-md-3">
                        <div class="label">brewer</div>
                        <div class="label-content"><a href="/user/${brew.brewer.username}/">${brew.brewer.username}</a></div>
                    </label>
                    <label class="col-md-3" py:if="brew.recipe">
                        <div class="label">recipe</div>
                        <div class="label-content">${recipe_a(brew.recipe)}</div>
                    </label>
                </div>

                <div class="row" py:if="brew.recipe">
                    <label class="col-md-3" py:if="brew.recipe.batch_size">
                        <div class="label">batch size</div>
                        <div class="label-content">${'%.3g' % brew.recipe.batch_size}${brew.recipe.batch_size_units}</div>
                    </label>
                    <label class="col-md-3">
                        <div class="label">style</div>
                        <div class="label-content">
                            <py:if test="brew.recipe.style">
                                ${brew.recipe.style.name} (
                            </py:if>
                            ${brew.recipe.get_type_display()}
                            <py:if test="brew.recipe.style">)</py:if>
                        </div>
                    </label>
                </div>

                <xi:include href="../../recipe/_util.html"/>
                <div class="row" py:if="recipe_deriv">
                    ${recipe_deriv_cols(recipe_deriv)}
                </div>

                <div py:if="brew.notes and len(brew.notes) > 0" class="row">
                    <div class="col-md-12">
                        <h2>notes</h2>
                        <div class="well well-sm">${std.markdown(brew.notes)}</div>
                    </div>
                </div>
            </div>

            <div py:if="std.auth_user_is_user(request, user)" class="bj-js-toggle-item row" style="display:none">
                <form method="post" id="details-form" action="${brew.get_absolute_url()}/edit/">
                    <table class="form" py:content="std.Markup(brew_form.as_table())"/>
                     <div class="btn-group">
                         <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-ok-sign"/></button>
                         <button type="reset" class="btn btn-default bj-js-edit-cancel"><span class="glyphicon glyphicon-ban-circle"/></button>
                     </div>
                </form>
            </div>
        </div>
    </div> <!-- details -->
    
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">derivations</h3></div>
        <div class="panel-body row">
            <label class="col-md-3">
                <div class="label">efficiency</div>
                <div class="label-content">
                    <py:choose>
                        <span py:when="deriv.can_not_derive_efficiency()"
                              py:attrs="{'title': '. '.join(deriv.can_not_derive_efficiency())}"
                              id="why_not_efficiency" class="muted">can't yet compute</span>
                        <strong py:otherwise="">
                            ${'%0.2f' % deriv.efficiency()}%
                        </strong>
                    </py:choose>
                </div>
            </label>
            <label class="col-md-3">
                <div class="label">abv</div>
                <div class="label-content">
                    <py:choose>
                        <span py:when="deriv.can_not_derive_abv()"
                              py:attrs="{'title': '. '.join(deriv.can_not_derive_abv())}"
                              class="muted">can't yet compute</span>
                        <strong py:otherwise="">${'%0.2f' % (deriv.alcohol_by_volume())}%</strong>
                    </py:choose>
                </div>
            </label>
            <label class="col-md-3">
                <div class="label">attenuation</div>
                <div class="label-content">
                    <py:choose>
                        <span py:when="deriv.can_not_derive_aa()"
                              py:attrs="{'title': '. '.join(deriv.can_not_derive_aa())}"
                              class="muted">can't yet compute</span>
                        <strong py:otherwise="">${'%0.2f' % (deriv.apparent_attenuation())}%</strong>
                    </py:choose>
                </div>
            </label>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">journal</h3></div>
        <div class="panel-body">
            <?python
              now_steps = [step for step in steps if not step.in_future()]
              future_steps = [step for step in steps if step.in_future()]
            ?>
            <py:def function="step_row(std,request,user,brew,step)">
                <div class="col-md-1"
                    py:attrs="{'data-brew-id': brew.id,
                               'data-step-id': step.id,
                               'data-step-url': step.get_absolute_url()}">
                    <div py:if="std.auth_user_is_user(request, user)" class="btn-group" style="margin-right: 1em">
                        <button type="button" class="btn btn-default btn-xs"><a href="${step.get_absolute_url()}"><span class="glyphicon glyphicon-edit"/></a></button>
                        <button type="button" class="btn btn-default btn-xs bj-js-brew-step-delete"><span class="glyphicon glyphicon-remove"/></button>
                    </div>
                </div>
                <div class="col-md-2">
                    <a href="${step.get_absolute_url()}">${std.fmt.date.best(step.date, user)}</a>
                </div>
                <div class="col-md-2 col-md-offset-0 col-xs-offset-1"><strong>${step.get_type_display()}</strong></div>
                <div class="col-md-1 col-md-offset-0 col-xs-offset-1"><py:if test="step.volume">${'%.3g' % step.volume} ${step.volume_units}</py:if></div>
                <div class="col-md-1 col-md-offset-0 col-xs-offset-1"><py:if test="step.temp">${step.temp} ${step.temp_units}</py:if></div>
                <div class="col-md-1 col-md-offset-0 col-xs-offset-1">${step.gravity}</div>
                <div class="col-md-4 col-md-offset-0 col-xs-offset-1">${std.markdown(step.notes)}</div>
            </py:def>

            <div class="row bj-ui-col-headers">
                <div class="col-md-2 col-md-offset-1 col-xs-offset-0">date</div>
                <div class="col-md-2 col-md-offset-0 col-xs-offset-1">step</div>
                <div class="col-md-1 col-md-offset-0 col-xs-offset-1">volume</div>
                <div class="col-md-1 col-md-offset-0 col-xs-offset-1">temp</div>
                <div class="col-md-1 col-md-offset-0 col-xs-offset-1">gravity<br/>(corrected)</div>
                <div class="col-md-4 col-md-offset-0 col-xs-offset-1">notes</div>
            </div>

            <div class="row" py:if="not steps">
                <div class="col-md-12"><em>no steps recorded, yet.</em></div>
            </div>
            <div class="row"
                 py:for="step in now_steps" 
                 py:attrs="{'class': 'row ' + ['', 'step-editable'][std.auth_user_is_user(request, user)]}">
                ${step_row(std,request,user,brew,step)}
            </div>
            <py:if test="future_steps">
                <div class="row"
                     py:for="step in future_steps"
                     py:attrs="{'class': 'row ' + ['', 'step-editable'][std.auth_user_is_user(request, user)]}">
                    ${step_row(std,request,user,brew,step)}
                </div>
            </py:if>

            <div py:if="step_form and std.auth_user_is_user(request, user)"
                 id="add-step"
                 py:with="expand=step_edit" 
                 class="row">

                <div class="bj-js-toggle" style="margin: 0.5em">
                    <div class="bj-js-toggle-item"
                         py:attrs="{'style': 'display:' + ['inherit', 'none'][expand]}">
                        <button type="button" class="btn btn-default btn-sm bj-js-brew-step-add"><span class="glyphicon glyphicon-plus"/>&nbsp;add step</button>
                    </div>
                    <div class="bj-js-toggle-item"
                         py:attrs="{'style': 'display:' + ['inherit', 'none'][not expand]}">
                        <form method="POST" id="add-step-form">

                            <div class="row">
                                <div class="col-md-4">
                                    ${field(step_form.type)}
                                </div>

                                <div class="col-md-4">
                                    ${field(step_form.date)}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    ${boolean_field(step_form.shift_step_times)}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    ${field(step_form.volume, step_form.volume_units)}
                                </div>

                                <div class="col-md-4">
                                    ${field(step_form.temp, step_form.temp_units)}
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-4">
                                    ${field(step_form.gravity_read,step_form.gravity_read_type)}
                                </div>
                                
                                <div class="col-md-4">
                                    ${field(step_form.gravity_read_temp, step_form.gravity_read_temp_units)}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-8">
                                    ${field(step_form.notes)}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <input type="submit" value="update"/>
                                    <button onClick="window.location = '${brew.get_absolute_url()}'; return false;">cancel</button>
                                </div>
                            </div>

                            <py:for each="hidden in step_form.hidden_fields()">
                                ${std.Markup(hidden)}
                            </py:for>
                        </form>
                    </div>
                </div>
            </div>

            <div py:if="mash_sparge_calc_form"
                 id="mash-sparge-calc-panel"
                 class="row bj-js-toggle"
                 style="padding-left: 1em"
                 py:with="expand=(mash_sparge_calc_form.is_bound and not mash_sparge_calc_form.is_valid())
                          or request.GET.has_key('mash_sparge_recalc')
                          ; calc=mash_sparge_calc_form.calc">
                <div py:attrs="{'style': 'display:' + ['none','inherit'][not expand]}" class="col-md-12 bj-js-toggle-item">
                    <button type="button" class="btn btn-default btn-sm bj-js-toggle-parent">
                        <span class="glyphicon glyphicon-cog"/>&nbsp;compute mash/sparge volumes, steps
                    </button>
                </div>
                <div py:attrs="{'style': 'display:' + ['none','inherit'][expand]}" class="bj-js-toggle-item">
                    <form method="GET" id="mash-sparge-calc">
                        <input type="hidden" name="mash_sparge_recalc" />

                        <xi:include href="../../calc/_mash_sparge_form.html"/>

                        <py:def function="mash_sparge_form_actions">
                            <div class="col-md-4">
                                <input type="submit" name="action" value="recalculate"/>
                                <input type="reset" value="cancel" onClick="window.location.search = '';"/>
                            </div>
                        </py:def>

                        ${mash_sparge_form(mash_sparge_calc_form, mash_sparge_form_actions)}

                        <py:for each="hidden in mash_sparge_calc_form.hidden_fields()">
                            ${std.Markup(hidden)}
                        </py:for>

                        <div py:if="mash_sparge_steps">

                            <h2>step preview</h2>
                            <div class="row">
                                <div class="col-md-12">
                                    <table width="100%">
                                        <thead>
                                            <tr>
                                                <th>date</th>
                                                <th>step</th>
                                                <th>volume</th>
                                                <th>temp</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr py:for="step in mash_sparge_steps">
                                                <td>${std.fmt.date.best(step.date, user)}</td>
                                                <td>${step.get_type_display()}</td>
                                                <td><py:if test="step.volume">${'%.3g' % step.volume} ${step.volume_units}</py:if></td>
                                                <td><py:if test="step.temp">${'%0.1f' % step.temp} ${step.temp_units}</py:if></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <input type="submit" name="action" value="create steps" onClick="$$('FORM#mash-sparge-calc').attr('method', 'POST'); return true;"/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">competition results</h3>
        </div>

        <div class="panel-body">
            <py:for each="result in brew.bjcpcompetitionresults_set.all()">
                <div class="competition-result panel panel-default">
                    <div class="panel-heading"><h4 class="panel-title">
                        <py:choose test="">
                            <py:when test="result.competition_url">
                                <a href="${result.competition_url}">${result.competition_name}</a>
                            </py:when>
                            <py:otherwise>${result.competition_name}</py:otherwise>
                        </py:choose>
                        <py:if test="result.competition_date">&nbsp; (${result.competition_date})</py:if>
                        <div class="btn-group" py:if="std.auth_user_is_user(request, user)">
                            <button type="button" class="btn btn-default btn-sm"><a href="${result.get_absolute_url()}"><span class="glyphicon glyphicon-edit"/>&nbsp;edit</a></button>
                            <button type="submit" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove" onClick="$(this).find('FORM').submit(); return false;"/><form style="display:none" method="POST" action="${result.get_absolute_url()}/delete"/>&nbsp;delete</button>
                            <button type="button" class="btn btn-default btn-sm">
                                <a href="${result.get_absolute_url()}/scoresheet/new"><span class="glyphicon glyphicon-plus"/>&nbsp;add scoresheet</a>
                            </button>
                        </div></h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <label class="col-md-3">
                                <div class="label">Overall Score</div>
                                <div class="contents">${result.assigned_score}</div>
                            </label>

                            <label class="col-md-3">
                                <div class="label">Place Awarded</div>
                                <div class="contents">
                                    ${result.get_place_awarded_display() or "(none)"}
                                </div>
                            </label>

                            <label py:if="result.notes" class="col-md-6">
                                <div class="label">Notes</div>
                                <div class="contents">${std.markdown(result.notes)}</div>
                            </label>
                        </div>
                    </div>

                    <div py:if="len(result.bjcpbeerscoresheet_set.all()) > 0" class="panel panel-default">
                        <div class="panel-heading"><h4 class="panel-title">scoresheets</h4></div>
                        <div class="panel-body">

                            <div py:for="scoresheet in result.bjcpbeerscoresheet_set.all()" class="scoresheet panel panel-default">

                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <py:if test="std.auth_user_is_user(request, user)">
                                            <py:choose test="">
                                                <py:when test="scoresheet.judge_email">
                                                    <a href="mailto:${scoresheet.judge_email}">${scoresheet.judge_name}</a>
                                                </py:when>
                                                <py:otherwise>${scoresheet.judge_name}</py:otherwise>
                                            </py:choose>
                                            <py:if test="scoresheet.judge_bjcp_id">
                                                (BJCP ID ${scoresheet.judge_bjcp_id})
                                            </py:if>,&nbsp;
                                        </py:if> ${scoresheet.get_judge_rank_display()}: <strong>${scoresheet.total_score} / 50</strong>

                                        <div class="btn-group" py:if="std.auth_user_is_user(request, user)">
                                            <button class="btn btn-default btn-sm"><a href="${scoresheet.get_absolute_url()}"><span class="glyphicon glyphicon-edit"/>&nbsp;edit</a></button>
                                            <button class="btn btn-default btn-sm" onClick="$(this).find('FORM').submit(); return true;">
                                                <span class="glyphicon glyphicon-remove"/>&nbsp;delete
                                                <form method="POST" style="display:none" action="${scoresheet.get_absolute_url()}/delete"/>
                                            </button>
                                        </div>
                                    </h5>
                                </div>
                                <div class="panel-body">

                                    <div class="row">
                                        <label py:def="section(label, max_score, score, notes)" class="col-md-2">
                                            <div class="label">${label}</div>
                                            <div class="contents" style="text-align: justify">
                                                ${score()}/${max_score}
                                                <div py:if="notes()">${std.markdown(notes())}</div>
                                            </div>
                                        </label>

                                        ${section('Aroma', 12, lambda: scoresheet.aroma_score, lambda: scoresheet.aroma_notes)}
                                        ${section('Appearance', 3, lambda: scoresheet.appearance_score, lambda: scoresheet.appearance_notes)}
                                        ${section('Flavor', 20, lambda: scoresheet.flavor_score, lambda: scoresheet.flavor_notes)}
                                        ${section('Mouthfeel', 5, lambda: scoresheet.mouthfeel_score, lambda: scoresheet.mouthfeel_notes)}
                                        ${section('Overall', 10, lambda: scoresheet.overall_score, lambda: scoresheet.overall_notes)}
                                    </div>

                                    <div class="row">
                                        <label py:def="ranking(label, accessor)" class="col-md-2">
                                            <div class="label">${label}</div>
                                            <div class="contents">
                                                <py:choose test="">
                                                    <py:when test="accessor()">${accessor()}</py:when>
                                                    <py:otherwise><span class="muted">unknown</span></py:otherwise>
                                                </py:choose>
                                            </div>
                                        </label>

                                        ${ranking('Stylistic Accuracy', lambda: scoresheet.get_stylistic_accuracy_display())}
                                        ${ranking('Technical Merit', lambda: scoresheet.get_technical_merit_display())}
                                        ${ranking('Intangibles', lambda: scoresheet.get_intangibles_display())}

                                    </div>

                                    <div class="row" py:if="scoresheet.notes and len(scoresheet.notes)>0">
                                        <label class="col-md-12">
                                            <div class="label">Notes</div>
                                            <div class="contents">${std.markdown(scoresheet.notes)}</div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </py:for>

            <div class="row" py:if="std.auth_user_is_user(request, user)">
                <div class="col-md-12">
                    <button type="button" class="btn btn-default btn-xs"><a href="${brew.get_absolute_url()}/competition-results/new"><span class="glyphicon glyphicon-plus"/>&nbsp;add competition results</a></button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
