BODY
{
  background-color: white;
  color: black;

  padding-bottom: 5em;
}

.big {
  font-size: large;
}

TABLE
{
  empty-cells: show;
  border-collapse: collapse;
  border-top: solid thin black;
  border-bottom: solid thin black;
}

TABLE.wide {
  width: 100%;
}

H1, H2, H3, H4 {
  font-family: sans-serif;
}

TD {
  padding: 0;
}

THEAD {
  border-bottom: solid thin black;
}

TBODY
{
  border-top: solid thin black;
  padding: 0;
}

TBODY TR {
   border-top: solid thin lightgray;
}

TBODY TR:first-child {
   border-top: inherit;
}

TH {
  background-color: #75B368;
  font-weight: bold;
  text-align: left;
}

A, A.visited {
  color: green;
}

TABLE.form
{
  border: none;
}

#hd
{
  border-bottom: solid thin green;
  margin-bottom: 1em;
}

.logotext
{
  font-family: Gentium, serif;
  color: rgb(34, 140, 34);
}

#hd .logotext
{
  font-size: x-large;
  text-decoration: none;
}

PRE.recipe
{
  background-color: rgb(240,240,240);
  padding: 0.5em 0.25em 0.5em 0.25em;
  width: 50%;
}

.random-box
{
  width: 45%;
  border: solid thin black;
}

.random-box > H2
{
  border-bottom: solid thin black;
  margin-top: 0em;
}

TABLE.form TBODY {
  border-top: inherit;
}

TABLE.form TR {
  border-top: inherit;
}

TABLE.form {
  margin-bottom: 0.5em;
}

TH, TD {
  padding: 0.25em;
}

UL.errorlist {
  color: red;
}

UL.errorlist + INPUT {
  border: inset thin red;
}

.muted,
.muted A {
  color: rgb(180, 180, 180);
}

TABLE.recipe_derivations TD {
    color: rgb(150, 150, 150);
}

TABLE.recipe_derivations TD STRONG {
    color: black;
}

TABLE.recipe_derivations TD.space {
    border: solid 1px transparent;
}

.datetime {
    white-space: nowrap;
}

.bj-recent UL LI {
    white-space: nowrap;
}

H1.feed-link A {
    text-decoration: none;
    color: inherit;
}

H1.feed-link A {
    padding-right: 19px;
    background: transparent url('./feed-icon-14x14.png') no-repeat scroll right center;
}

.stylin .label {
  display: block;
  font-weight: bold;
  color: green;
}

.stylin .errors {
  color: red;
  font-size: small;
}

.stylin INPUT {
  border: solid 1px black;
  padding: 0.25em;
}
