<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
    <xi:include href="../_incl/taglib.html"/>
    <head>
        <title>recipe "${recipe.name}" | brew-journal</title>
        <xi:include href="../_incl/head.html"/>
        <style type="text/css">
            .overridden
            {
            text-decoration: line-through;
            color: rgb(180, 180, 180);
            }
        </style>
    </head>
    <body>
        <xi:include href="../_incl/body-top-bar.html"/>
        
        <h2 py:if="recipe">recipe: "${recipe.name}"</h2>

        <div py:if="request.user.is_authenticated()" class="btn-group" style="margin: 0.5em 0">
            <a class="btn btn-default btn-sm" href="/user/${request.user.username}/brew/new/?recipe_id=${recipe.id}"><span class="glyphicon glyphicon-glass"/>
            &nbsp;brew</a>
            <a class="btn btn-default btn-sm" href="/recipe/new/?clone_from_recipe_id=${recipe.id}"><span class="glyphicon glyphicon-cloud-upload"/>&nbsp;clone</a>
        </div>

        <div id="overview" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">details
                    <py:if test="std.auth_user_is_user(request, recipe.author)">
                           &nbsp;<button class="btn btn-default btn-sm bj-js-recipe-details-edit" type="button"><span class="glyphicon glyphicon-edit"/></button>
                    </py:if>
                </h3>
            </div>
            
            <div class="panel-body bj-js-toggle">

                <div class="bj-js-toggle-item"
                     py:attrs="{'style': ['display:none', 'display:inherit'][not recipe_form.is_bound or recipe_form.is_valid()]}" >

                    <div class="row">
                        <label class="col-md-4">
                            <div class="label">style</div>
                            <div class="label-content">
                                ${recipe.get_type_display()}
                                <py:choose test="">
                                    <py:when test="recipe.style">${recipe.style.name}&nbsp;(${recipe.style.bjcp_code})</py:when>
                                    <py:otherwise>(style undefined)</py:otherwise>
                                </py:choose>
                            </div>
                        </label>

                        <label class="col-md-4">
                            <div class="label">batch size</div>
                            <div class="label-content">
                                ${'%.3g' % recipe.batch_size} ${recipe.get_batch_size_units_display()}
                                <py:if test="recipe.pre_boil_volume">
                                    , ${'%.3g' % recipe.pre_boil_volume} ${recipe.get_pre_boil_volume_units_display()}  pre-boil
                                </py:if>
                                , ${recipe.boil_length} minute boil
                            </div>
                        </label>

                        <label class="col-md-2">
                            <div class="label">efficiency</div>
                            <div class="label-content">${recipe.efficiency} %</div>
                        </label>

                        <label py:if="recipe.author" class="col-md-2">
                            <div class="label">input by</div>
                            <div class="label-content">
                                <a href="/user/${recipe.author.username}/">${recipe.author.username}</a>
                            </div>
                        </label>
                    </div>

                    <div class="row" py:if="recipe.source_url">
                        <label class="col-md-10">
                            <div class="label">source url</div>
                            <div class="label-content"><a href="${recipe.source_url}">${recipe.source_url}</a></div>
                        </label>

                    </div>

                    <div class="row">
                        <label class="col-md-6">
                            <div class="label">brews</div>
                            <div class="label-content">
                                <py:choose test="">
                                    <py:when test="recipe.brew_set.exists()">
                                        <?python import itertools ?>
                                        <py:for each="i,brew in itertools.izip(itertools.count(),recipe.brew_set.all())" py:strip="True">
                                            <py:if test="i > 0">,</py:if>
                                            <a href="${brew.get_absolute_url()}">${std.fmt.date.ymd(brew.brew_date)} by ${brew.brewer.username}</a>
                                        </py:for>
                                    </py:when>
                                    <py:otherwise>
                                        <em class="muted">none</em>
                                    </py:otherwise>
                                </py:choose>
                            </div>
                        </label>
                    </div>

                    <div class="row">
                        <label py:if="recipe.notes" class="col-md-12">
                            <div class="label">notes</div>
                            <div class="well well-sm">${std.markdown(recipe.notes)}</div>
                        </label>
                    </div>
                </div>

                <div py:if="std.auth_user_is_user(request, recipe.author)"
                     py:attrs="{'style': ['display:none', 'display:inherit'][recipe_form.is_bound and not recipe_form.is_valid()]}"
                     class="bj-js-toggle-item row">
                    <div class="col-md-12">
                        <form method="post" id="overview-form">
                            <table class="form" py:content="std.Markup(recipe_form.as_table())"/>
                            <input type="submit" value="update"/>
                            <input type="reset" value="cancel" onClick="$(this).closest('.bj-js-toggle').children().slideToggle(); $('#edit').focus(); return true;" /></form>
                    </div>
                </div>
            </div>
        </div>

        <xi:include href="./_util.html"/>
        <div py:if="deriv is not None" class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">derivations</h3></div>
            <div class="row panel-body">
                ${recipe_deriv_cols(deriv)}
            </div>
        </div>

        <py:def function="editable_list(items, type_string, display_fn, edit_fn)">
            <py:for each="item,form in items"
                    py:with="form_invalid = form.is_bound and not form.is_valid();
                             new_item = item is None;
                             id = not item and 'new' or str(item.id);
                             editable = std.auth_user_is_user(request, recipe.author)">
                <div py:if="not new_item"
                    class="${type_string} bj-item-display row"
                    data-bj-item-id="${id}"
                    py:attrs="{'style':['','display:none'][form_invalid]}">
                    <!-- display row -->

                    <div py:def="controls()" py:choose="" class="btn-group" style="margin-right: 1em">
                        <py:when test="editable">
                            <button type="button" class="btn btn-default btn-xs bj-js-recipe-item-edit"><span class="glyphicon glyphicon-edit"/></button>
                            <button type="button" class="btn btn-default btn-xs bj-js-recipe-item-delete"><span class="glyphicon glyphicon-remove"/></button>
                        </py:when>
                        <py:otherwise>&nbsp;</py:otherwise>
                    </div>

                    ${display_fn(item, controls)}

                </div>
                <div py:if="new_item and editable"
                    class="bj-item-add row"
                    py:attrs="{'style':['','display:none'][form_invalid]}">
                    <div class="col-md-12" style="margin:0.5em 0">
                        <button type="button" class="btn btn-default btn-xs bj-js-recipe-item-add"><span class="glyphicon glyphicon-plus"/>&nbsp;add</button>
                    </div>
                </div>
                <div py:if="editable"
                    class="bj-item-editor row"
                    py:attrs="{'style':['display:none', ''][form_invalid]}">
                    <div class="col-md-16">
                        <!-- form row -->
                        <form method="POST">
                            <input type="hidden" name="item_type" value="${type_string}"/>
                            <input type="hidden" name="id" value="${id}"/>
                            <input type="hidden" name="delete_id" value="-1"/>

                            <div py:def="controls()" class="btn-group" style="margin-right: 1em">
                                <button type="submit" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-ok-sign"/></button>
                                <button type="reset" class="btn btn-default btn-xs bj-js-recipe-item-edit-cancel"><span class="glyphicon glyphicon-ban-circle"/></button>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    ${edit_fn(form, controls)}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </py:for>
        </py:def>

        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">ingredients</h3></div>
            <div class="panel-body">
                <!-- grains -->
                <div id="grains" style="margin-top: 10px">
                    <div class="row bj-ui-col-headers">
                        <div class="col-md-3">grain</div>
                        <div class="col-md-3 col-md-offset-0 col-xs-offset-1">amount</div>
                        <div class="col-md-3 col-md-offset-0 col-xs-offset-1">gravity</div>
                    </div>

                    <py:def function="grain_display(grain, controls)">
                        <!-- display row -->
                        <div class="col-md-3">${controls()}&nbsp;${grain.grain.name}</div>
                        <div class="col-md-3 col-md-offset-0 col-xs-offset-1">
                            ${'%.3g' % grain.amount_value} ${grain.amount_units}
                            <py:with vars="grain_deriv=deriv.gravity_for_recipe_grain(grain)">
                                <py:choose test="">
                                    <py:when test="grain_deriv and grain_deriv.weight_percentage">&nbsp;(${'%0.1f' % grain_deriv.weight_percentage}%)</py:when>
                                </py:choose>
                            </py:with>
                        </div>
                        <div class="col-md-3 col-md-offset-0 col-xs-offset-1">
                            <span py:if="grain.measured_by_weight()" py:attrs="{'class':['','overridden'][grain.by_weight_potential_override is not None]}">
                                ${grain.grain.extract_min} - ${grain.grain.extract_max}
                            </span>
                            <span py:if="grain.measured_by_volume()" py:attrs="{'class':['','overridden'][grain.by_volume_potential_override is not None]}">
                                ${grain.grain.volume_potential_min} - ${grain.grain.volume_potential_max}
                            </span>
                            <py:if test="grain.by_weight_potential_override">
                                &nbsp;${grain.by_weight_potential_override} for 1 lb / 1 gl
                            </py:if>
                            <py:if test="grain.by_volume_potential_override">
                                ${grain.by_volume_potential_override}
                            </py:if>
                        </div>
                    </py:def>

                    <py:def function="grain_edit(grain_form, controls)">
                        <div class="col-md-3">${controls()}&nbsp;${std.Markup(grain_form.grain.errors)} ${std.Markup(grain_form.grain)}</div>
                        <div class="col-md-3 col-md-offset-0 col-xs-offset-1">${std.Markup(grain_form.amount_value.errors)} ${std.Markup(grain_form.amount_units.errors)} ${std.Markup(grain_form.amount_value)} ${std.Markup(grain_form.amount_units)}</div>
                        <div class="col-md-3 col-md-offset-0 col-xs-offset-1">
                            <div>overrides</div>
                            <div>${std.Markup(grain_form.by_weight_potential_override)} (times 1000) for 1 lb / 1 gl (e.g. "1036")</div>
                            <div>${std.Markup(grain_form.by_volume_potential_override)} (times 1000) (e.g. "1048")</div>
                        </div>
                    </py:def>

                    ${editable_list(recipe_grains, 'grain', grain_display, grain_edit)}

                </div>

                <!-- hops -->
                <div>
                    <div class="row bj-ui-col-headers">
                        <div class="col-md-3">hop</div>
                        <div class="col-md-3 col-md-offset-0 col-xs-offset-1">amount</div>
                        <div class="col-md-3 col-md-offset-0 col-xs-offset-1">AAU</div>
                        <div class="col-md-3 col-md-offset-0 col-xs-offset-1">usage</div>
                    </div>

                    <py:def function="hop_display(hop, controls)">
                        <div class="col-md-3">${controls()}&nbsp;${hop.hop.name}</div>
                        <div class="col-md-3 col-md-offset-0 col-xs-offset-1">${'%.3g' % hop.amount_value} ${hop.amount_units}</div>
                        <div class="col-md-3 col-md-offset-0 col-xs-offset-1">
                            <span py:attrs="{'class':['','overridden'][hop.aau_override is not None]}">
                                ${'%.3g' % hop.hop.alpha_acid_low} % - ${'%.3g' % hop.hop.alpha_acid_high} %
                            </span>
                            <py:if test="hop.aau_override">
                                &nbsp;
                                ${'%.3g' % hop.aau_override} %
                            </py:if>
                        </div>
                        <div class="col-md-3 col-md-offset-0 col-xs-offset-1">
                            <py:choose test="">
                                <py:when test="hop.usage_type == 'boil'">
                                    ${hop.boil_time} minutes
                                </py:when>
                                <py:otherwise>
                                    ${hop.get_usage_type_display()}
                                </py:otherwise>
                            </py:choose>
                        </div>
                    </py:def>

                    <py:def function="hop_edit(hop_form, controls)">
                        <div class="col-md-3">${controls()}&nbsp;${std.Markup(hop_form.hop.errors)} ${std.Markup(hop_form.hop)}</div>
                        <div class="col-md-3 col-md-offset-0 col-xs-offset-1">
                            ${std.Markup(hop_form.amount_value.errors)} ${std.Markup(hop_form.amount_units.errors)}
                            ${std.Markup(hop_form.amount_value)}&nbsp;${std.Markup(hop_form.amount_units)}
                        </div>
                        <div class="col-md-3 col-md-offset-0 col-xs-offset-1">${std.Markup(hop_form.aau_override.errors)} AAU Override: ${std.Markup(hop_form.aau_override)} %</div>
                        <div class="col-md-3 col-md-offset-0 col-xs-offset-1">
                            ${std.Markup(hop_form.usage_type.errors)}
                            ${std.Markup(hop_form.boil_time.errors)}
                            ${std.Markup(hop_form.usage_type)}
                            <span class="hop_boil_minutes"
                                  py:attrs="{'style': ['', 'display:none'][hop_form.instance.usage_type != 'boil']}">
                                ${std.Markup(hop_form.boil_time)}&nbsp;minutes
                            </span>
                        </div>
                    </py:def>

                    ${editable_list(recipe_hops, 'hop', hop_display, hop_edit)}
                </div>

                <!-- adjuncts -->
                <div>
                    <div class="row bj-ui-col-headers">
                        <div class="col-md-3">adjunct</div>
                        <div class="col-md-3 col-md-offset-0 col-xs-offset-1">amount</div>
                        <div class="col-md-3 col-md-offset-0 col-xs-offset-1">boil time</div>
                        <div class="col-md-3 col-md-offset-0 col-xs-offset-1">notes</div>
                    </div>

                    <py:def function="adjunct_display(adjunct, controls)">
                        <div class="col-md-3">${controls()}&nbsp;${adjunct.adjunct.name}</div>
                        <div class="col-md-3 col-md-offset-0 col-xs-offset-1">${'%.3g' % adjunct.amount_value} ${adjunct.amount_units}</div>
                        <div class="col-md-3 col-md-offset-0 col-xs-offset-1">${adjunct.boil_time} minutes</div>
                        <div class="col-md-3 col-md-offset-0 col-xs-offset-1">${adjunct.notes}</div>
                    </py:def>

                    <py:def function="adjunct_edit(adj_form, controls)">
                        <div class="col-md-3">${controls()}&nbsp;${std.Markup(adj_form['adjunct'].errors)} ${std.Markup(adj_form['adjunct'])}</div>
                        <div class="col-md-3 col-md-offset-0 col-xs-offset-1">${std.Markup(adj_form['amount_value'].errors)} ${std.Markup(adj_form['amount_units'].errors)} ${std.Markup(adj_form['amount_value'])} ${std.Markup(adj_form['amount_units'])}</div>
                        <div class="col-md-3 col-md-offset-0 col-xs-offset-1">${std.Markup(adj_form['boil_time'].errors)} ${std.Markup(adj_form['boil_time'])} minutes</div>
                        <div class="col-md-3 col-md-offset-0 col-xs-offset-1">${std.Markup(adj_form['notes'].errors)} ${std.Markup(adj_form['notes'])}</div>
                    </py:def>

                    ${editable_list(recipe_adjuncts, 'adjunct', adjunct_display, adjunct_edit)}

                </div>
                
                <!-- yeast -->
                <div>
                    <div class="row bj-ui-col-headers">
                        <div class="col-md-3">yeast</div>
                    </div>

                    <py:def function="yeast_display(yeast, controls)">
                        <div class="col-md-3">${controls()}&nbsp;${yeast.yeast}</div>
                    </py:def>

                    <py:def function="yeast_edit(yeast_form, controls)">
                        <div class="col-md-3">${controls()}&nbsp;${std.Markup(yeast_form['yeast'].errors)} ${std.Markup(yeast_form['yeast'])}</div>
                    </py:def>

                    ${editable_list(recipe_yeasts, 'yeast', yeast_display, yeast_edit)}

                </div>
            </div>
        </div>

    </body>
</html>
