<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="_incl/taglib.html"/>
  <head>
    <title>sorry, our fault! | brew-journal</title>
    <xi:include href="_incl/head.html"/>
  </head>
<body>
    <xi:include href="_incl/body-top-bar.html"/>
    <div class="row">
        <div class="col-md-12">
            <h1>we screwed up :(</h1>
            
            <p>Sorry about that, we had a problem in the server.  I've alerted the admin.</p>
            
            <p style="color: lightgrey">Response Code 500</p>
        </div>
    </div>
</body>
</html>
