<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
    <xi:include href="_incl/taglib.html"/>
  <head>
    <title>brew-journal</title>
    <xi:include href="_incl/head.html"/>
  </head>
<body>
    <xi:include href="_incl/body-top-bar.html"/>
    
    <div class="row">
        <div class="col-md-12">
            <form py:if="not request.user.is_authenticated()" id="login" method="POST">

                <div class="row">
                    ${auth_errors}
                    ${auth_form.non_field_errors()}

                    <div class="col-md-6">
                        <h2>login</h2>

                        <div>
                            ${field(auth_form.username)}
                        </div>

                        <div>
                            ${field(auth_form.password)}
                        </div>

                        <div>
                            <input type="submit" name="sub" value="login"/>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <h2>create account</h2>

                        <div>
                            ${field(auth_form.password_again)}
                        </div>

                        <div>
                            ${field(auth_form.email)}
                        </div>

                        <div>
                            <input type="submit" name="sub" value="create"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <h2 style="margin-bottom: 1em"><span class="logotext">brew-journal</span> helps you keep a digital journal of the status and progress of your homebrew beer</h2>

            <p>The <a href="http://github.com/jsled/brew-journal/tree/master">source for this site is available on github.com</a> under the <a href="http://en.wikipedia.org/wiki/New_BSD">New BSD</a> license.</p>
        </div>
    </div>
    <div class="row">
        <div class="bj-recent">
            <div class="col-md-offset-1 col-md-4">
                <h2>recent brews</h2>
                <ul class="list-group">
                    <li py:for="brew in recent_brews" class="list-group-item">
                        <a href="${brew.get_absolute_url()}">
                            <py:choose test="">
                                <py:when test="brew.recipe">"${brew.recipe.name}"</py:when>
                                <py:otherwise>A brew</py:otherwise>
                        </py:choose></a>
                        by <a href="/user/${brew.brewer.username}/">${brew.brewer.username}</a>
                        <py:if test="brew.brew_date">
                            on ${std.fmt.date.ymd(brew.brew_date, request.user)}
                        </py:if>
                    </li>
                </ul>
            </div>
            <div class="col-md-offset-1 col-md-4">
                <h2 class="feed-link"><a href="/feeds/new-recipes">recent recipes</a></h2>
                <ul class="list-group">
                    <li py:for="recipe in recent_recipes" class="list-group-item">
                        "${recipe_a(recipe)}", added ${std.fmt.date.ymd(recipe.insert_date, request.user)} by <a href="/user/${recipe.author.username}/">${recipe.author}</a>.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
